/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0deg, #005755 1%, #ffffff 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps background fixed while content scrolls */
  align-items: center;
}

/* Ensure body takes at least full viewport height */
html, body {
  height: 100%;
}